<!DOCTYPE html>
<html>
<head>
    #set($title = "选择贷款机构")
    #parse('/widget/header/header.vm')
    <link rel="stylesheet" href="./wddx-form-agent-choose.scss">
</head>
<body>
    
    
    <form class="ui-form"> 
	
	    
        <input type="hidden" id="orgId">
        <input type="hidden" id="templateId">
    
    
        <section class="header">
            <span>$!{items.size()}</span> 家贷款机构可供选择
        </section>
        
        
        <ul class="item-list">
            #foreach($item in $items)
            <li>
                <img src="$!{item.url}" alt="机构图片" class="item-avatar">
                <div class="item-con">
                    <p class="item-title">$!{item.orgName}</p>
                    <div class="item-detail">
                        <p>月利率：$!{item.monthRate}</p>
                        <p>月费率：$!{item.monthRating}</p>
                        <p>还款方式：$!{item.repayMethod}</p>
                    </div>
                    <p class="item-apply-num">申请人数：$!{item.applyNum}</p>
                </div>
                <div class="item-cb">
                    <input type="radio" name="loan" value="1">
                    <span class="item-cb-icon"></span>
                </div>
            </li>
            #end
        </ul>
    
    </form>



    <section class="ui-form-btmbtn">
        <div class="info-wrap"></div>
        <div class="btn-wrap">
            <a href="javascript:;" class="btn-submit disabled">选好了，帮我申请</a>
        </div>
    </section>
        
        
    
    #parse('/widget/footer/footer.vm')
    ##------------------------------------
    ## scripts
    ##------------------------------------
    __FRAMEWORK_CONFIG__
    <script>
    require(['page/wddx-form-agent-choose/wddx-form-agent-choose'],function(app){
        app();
    });
    </script>
</body>
</html>