@import "/static/scss/page.form.btmbtn";
@import "/static/scss/_checkbox";



.header {
	padding: rem(24px) rem(30px);
	background-color: #fff7e3;
	color: $fontSub;
	font-size: rem(24px);
		
	span {
        color: $bgApp58;
    }
}




.item-list {
    
    
	li {
		display: -webkit-box;
		display: box;
		position: relative;
		padding: rem(30px) rem(30px);
		background-color: #fff;
		margin-bottom: rem(20px);
		&:last-child {
			margin-bottom: rem(110px);
		}
	}
	
	
	/*
	 * 头像
	 */
	.item-avatar {
		display: inline-block;
		width: rem(102px);
		height: rem(102px);
		background-size: 100% 100%;
		border: 1px solid #dcdcdc;
		margin-right: rem(30px);
	}
	
	
	/*
	 * 内容
	 */
	.item-con {
	    .item-title {
            font-size: rem(32px);
            color: $fontMain;
        }
        .item-detail {
            font-size: rem(24px);
            color: $fontSub;
            padding: rem(20px) 0;
        }
        .item-apply-num {
            font-size: rem(26px);
            color: $fontSub;
        }
	}
	
	
	/*
	 * 整栏单选
	 */
	.item-cb {
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0;
        top: 0;
        z-index: 1;
        
        input {
            @include checkbox-input();
        }
        input:checked + .item-cb-icon {
            background-color: $bgApp58;
        }
        .item-cb-icon {
            @include checkbox-icon(rem(43px));
            
            position: absolute;
            right: rem(30px);
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
    
    
}




