@import "/static/scss/_rem";
@import "/static/scss/zepto.modal";
@import "/static/scss/zepto.dialog";
@import "/static/scss/_mark";
.dialog-alert{
	border-radius:10px;
	padding:5px;
    width:rem(60px);
    height:40px;
    line-height:40px;
    background-color:green;
    float:left;
    margin-left:10px;
}
.dialog-confirm{
	border-radius:10px;
	padding:5px;
    width:60px;
    height:40px;
    line-height:40px;
    background-color:red;
    float:left;
    margin-left:10px;
}