<!DOCTYPE html>
<html>
<head>
    #set($title = "登录")
    #parse('/widget/header/header.vm')
    <link rel="stylesheet" href="./login.scss">
</head>
<body>
    #set($title = "58金融web demo系统登录")
    
    <span id="title" style="display:block; font-size: 40px; border: 1px dotted gray;" selfdef="come on">title</span>
    <a id="anchor" data-o='{"p1":"v1"}' href="baidu.com" style="font-size: 40px; border: 1px dotted gray;">title</a>
    
    <form id="form" method="post" action="/login">
        
        <ul class="ul-item">
            <li>
                <label class="icon-mobile form-label-icon"></label>
                <div class="w-input">
                    <input type="text" name="username" id="username" placeholder="用户名" 
                           maxlength="20" autocomplete="off" value="$!{username}" required data-trace="1">
                </div>
            </li>
            <li>
                <label class="icon-phoneCode form-label-icon"></label>
                <div class="w-input w-phonecode">
                    <input type="password" name="password" id="password" placeholder="密码" 
                           maxlength="20" autocomplete="off" required data-trace='{"tid":2,"extraP":"wahaha"}'>
                </div>
            </li>
        </ul>
        
        <section class="actions">
            <section class="just-for-test">
                <button type="button" class="btn-submit" data-trace="3">登录</button>
            </section>
        </section>
            
    </form>
    
    
    
    
    ##------------------------------------
    ## scripts
    ##------------------------------------
    __FRAMEWORK_CONFIG__
    <script>
    require(['page/login/login'],function(app){
        app();
    });
    </script>
    <script>
    console.log(document.readyState);
    document.addEventListener('DOMContentLoaded',function(){
        console.log('DOMContentLoaded');
        console.log(document.readyState);
        setTimeout(function(){
            console.log(document.readyState);
        })
        console.log('DOMContentLoaded');
    });
    console.log(document.readyState);
    </script>
</body>
</html>
