<div data-v='<%=obj.baseTime%>' class='wi-date' data-date>
    <div class='wi-date-head'>
        <a data-date-prev class='wi-date-prev <%=obj.disablePrev%>' href='javascript:;'></a>
        <span>
        	<select>
        		<%for(var j=obj.yStart;j<=obj.yEnd;j++){%>
					<option <%if(j==obj.thisYear){%>selected<%}%>  value="<%= j %>"><%= j %></option>
        		<%}%>
        	</select>
        	年
        	<select>
        		<%for(var i=1;i<=12;i++){%>
					<option <%if(i==obj.thisMonth){%>selected<%}%> value="<%= i %>"><%= i %></option>
        		<%}%>
        	</select>
        	月
        </span>
        <a data-date-next class='wi-date-next <%=obj.disableNext%>' href='javascript:;'></a>
    </div>
    <ul class='wi-date-week'><%=obj.baseWeek%></ul>
    <div class='wi-date-day'><%=obj.baseContent%></div>
</div>