<div class="wi-date-select">
    <section class="option-params-wrap">
        <label>开始时间</label>
        <div class="param"><input type="date" placeholder="请选择开始时间" data-start-key="dateStart" /></div>
    </section>
    <section class="option-params-wrap">
        <label>结束时间</label>
        <div class="param"><input type="date" placeholder="请选择结束时间" data-end-key="dateEnd" /></div>
    </section>
    <a href="javascript:;" class="btn-date btn-date-confirm btn-disabled">确认</a>
    <a href="javascript:;" class="btn-date btn-date-cancel">取消</a>
</div>