<div class="single-selection-box">
    <div class="single-selection-title">
        <div class="selection-title-con"><%=obj.title%></div>
        <div class="selection-icon-close"><a href="javascript:;" class="single-selection-close"></a></div>
    </div>
    <div class="single-selection-content">   
    </div>
</div>