<div class="wi-modal-dialog">
	
	
	<div class="wi-modal-dialog-content">
		
	</div>
	
	
	<% if(obj.type == "alert") {%>
	    
	    
		<div class="wi-dialog-box-single">
			<% if(obj.btnSing) {%>
				<span><a href="javascript:;" class="wi-single-btn-true"><%=obj.btnSing%></a></span>
			<%} else {%>
				<span><a href="javascript:;" class="wi-single-btn-true">确定</a></span>
			<% } %>
		</div>
		
		
		
	<%} else {%>
	    
	    
	<div class="wi-dialog-box-double">
		<% if(obj.btnDblCanl) {%>
			<span><a href="javascript:;" class="wi-double-btn-cancle"><%=obj.btnDblCanl%></a></span>
		<%} else {%>
			<span><a href="javascript:;" class="wi-double-btn-cancle">取消</a></span>
		<% } %>

		<% if(obj.btnDblOk) {%>
			<span><a href="javascript:;" class="wi-double-btn-true"><%=obj.btnDblOk%></a></span>
		<%} else {%>
			<span><a href="javascript:;" class="wi-double-btn-true">确定</a></span>
		<% } %>
	</div>
	
	
	<% } %>
</div>