<div class="dialog-tips-box">
	<div class="dialog-box-title">
		<div class="title-con"><%=obj.title%></div>
		<div class="icon-close"><a href="javascript:;" class="dialog-btn-close"></a></div>
	</div>
	<div class="dialog-box-content">
		
	</div>
	<div class="dialog-box-single">
		<span><a href="javascript:;" class="single-btn-true">确定</a></span>
	</div>
	<div class="dialog-box-double">
		<span><a href="javascript:;" class="double-btn-cancle">取消</a></span>
		<span><a href="javascript:;" class="double-btn-true">确定</a></span>
	</div>
</div>