
@import "/static/scss/zepto.singleSelection.scss";
@import "/static/scss/zepto.radio.scss";
.test {
    padding-left: .2rem;
    background-color: #fff;
    border: 1px solid #eee;
    border-left: none;
    border-right: none;
    overflow: hidden;
}
