<div class="tmpl-dialog-procedure">
	<ul>
		<li>
			<div class="icon icon-01"></div>
			<p>01发布贷款</p>
			<p>真实填写信息</p>
		</li>
		<li>
			<div class="icon icon-02"></div>
			<p>02自主选择</p>
			<p>精准推荐机构</p>
		</li>
		<li>
			<div class="icon icon-03"></div>
			<p>03提交申请</p>
			<p>耐心等待结果</p>
		</li>
	</ul>
</div>