@import "/static/scss/_rem";

/* icon样式及图片设置 */
.icon-user {
	width: rem(90px);
	height: rem(90px);
	background: url(img/user.png?__inline);
	margin-right: rem(14px);
}
.icon-xfd, .icon-common {
	width: rem(90px);
	height: rem(90px);
	margin-right: rem(20px);
}
.icon-xfd {
	background: url(img/icon_xfd.png?__inline);
}
.icon-common {
	background: url(img/icon_common.png?__inline);
}

.icon-record, .icon-material, .icon-comment {
	margin-right: rem(14px);
}
.icon-record {
	width: rem(60px);
	height: rem(54px);
	background: url(img/icon_record.png?__inline);
}
.icon-material {
	width: rem(59px);
	height: rem(54px);
	background: url(img/icon_material.png?__inline);
}
.icon-comment {
	width: rem(63px);
	height: rem(54px);
	background: url(img/icon_comment.png?__inline);
}

.icon {
	background-size: 100% 100%;
}

/* 头部 */
.header {
	display: -webkit-flex;
	display: flex;
	/* width: 100%; */
	background: url(img/header_bg.png?__inline);
	background-size: 100% 100%;
	// background-color: #fbd749;
	padding: rem(34px 30px);
	font-size: rem(26px);
	color: #fff;
}

/* 贷款申请 */
.sec-loan-apply {
	.title {
		color: #555;
		font-size: rem(26px);
		padding: rem(30px);
	}
}

.portal-wrap {
	display: -webkit-flex;
	display: flex;
	background-color: #fff;
	a {
		flex: 1;
		-webkit-box-flex: 1;
		display: -webkit-flex;
		display: flex;
		width: 50%;
		padding: rem(50px) 0;
		padding-left: rem(10px);
	}
	.loan-xfd {
		border-right: 2px solid #f2f5f8;
	}
	p {
		&:first-child {
			font-size: rem(30px);
			color: #333;
			margin-top: rem(8px);
		}
		&:nth-child(2) {
			font-size: rem(22px);
			color: #757c85;
		}
	}
}

/* 贷款管理 */
.sec-loan-management {
	background-color: #fff;
	margin-bottom: rem(20px);
	a {
		display: block;
		padding: rem(30px 30px);
		border-bottom: 1px solid #f2f5f8;
		overflow: hidden;
		position: relative;
	}
	.icon {
		float: left;
	}
	.p1, .p2 {
		float: left;
		line-height: rem(54px);
	}
	.p1 {
		font-size: rem(30px);
		font-weight: bold;
		color: #333;
		.num {
			color: #ff8664;
		}
	}
	.p2 {
		float: right;
		font-size: rem(28px);
		color: #a6afb9;
		padding-right: rem(28px);
	}
	.p3 {
		float: right;
		&:after {
			position: relative;
			display: block;
			content: "";
			width: 5px;
			height: 5px;
			border-bottom: 1px solid #d5dde7;
			border-right: 1px solid #cfd6dc;
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
			top: rem(18px);
			left: rem(136px);
		}
	}
}

/* 尾部 */
.footer {
	padding: rem(30px 30px 13px);
	background-color: #fff;
	.know {
		display: inline-block;
		border-radius: 2px;
		background-color: #cfd6dc;
		padding: 0 rem(8px);
		font-size: rem(24px);
		color: #fff;
		margin-bottom: rem(20px);
	}
	ul {
		display: -webkit-flex;
		display: flex;
		font-size: rem(26px);
		color: #a6afb9;
		line-height: rem(52px);
		li {
			flex: 1;
			&:before {
				position: relative;
				content: "";
				display: inline-block;
				width: rem(12px);
				height: rem(12px);
				border-radius: 50%;
				background-color: #cfd6dc;
				margin-right: rem(13px);
				top: -1px;
			}
		}
	}
}


// 贷款申请流程dialog
.tmpl-dialog-procedure {
	.icon-01, .icon-02, .icon-03 {
		width: rem(150px);
		height: rem(150px);
	}
	.icon-01 {
		background: url(img/icon_01.png?__inline);
	}
	.icon-02 {
		background: url(img/icon_02.png?__inline);
	}
	.icon-03 {
		background: url(img/icon_03.png?__inline);
	}

	.icon {
		background-size: 100% 100%;
		margin: 0 auto;
	}

	ul {
		display: -webkit-flex;
		display: flex;
	}
	li {
		flex: 1;
		-webkit-box-flex: 1;
		text-align: center;
	}
	p {
		&:nth-child(even) {
			font-size: rem(30px);
			color: #757c85;
			margin-top: rem(30px);
		}
		&:nth-child(odd) {
			font-size: rem(24px);
			color: #b5bcc4;
		}
	}
}	