<!DOCTYPE html>
<html lang="en">
<head>
	#set($title = "申请贷款首页")
	#parse('/widget/header/header.vm')
	<link rel="stylesheet" href="./wddx-plain-index.scss">
</head>
<body>

	<header class="icon header">
		<div class="icon icon-user"></div>
		<div class="user-info">
			<p>欢迎您</p>
			<p>$!{user}</p>
		</div>
	</header>


	<section class="sec-loan-apply">
		<p class="title">贷款申请</p>

		<div class="portal-wrap">
			<a class="loan-xfd" href="javascript:;">
				<div class="icon icon-xfd"></div>
				<div>
					<p>消费贷</p>
					<p>线上审批，极速放款</p>
				</div>
			</a>

			<a class="loan-common" href="javascript:;">
				<div class="icon icon-common"></div>
				<div>
					<p>普通贷款</p>
					<p>额度自由，多家机构</p>
				</div>
			</a>
		</div>

		<p class="title">贷款管理</p>
	</section>




	<section class="sec-loan-management">

		<a href="javascript:;">
			<div class="icon icon-record"></div>
			<p class="p1">贷款记录<span class="num"> ($!{record_num})</span></p>
			<p class="p2">立即查看</p>
			<p class="p3"></p>
		</a>

		<a href="javascript:;">
			<div class="icon icon-material"></div>
			<p class="p1">完善资料<span class="num"> ($!{material_num})</span></p>
			<p class="p2">立即完善</p>
			<p class="p3"></p>
		</a>

		<a href="javascript:;">
			<div class="icon icon-comment"></div>
			<p class="p1">贷款点评<span class="num"> ($!{comment_num})</span></p>						
			<p class="p2">立即点评</p>
			<p class="p3"></p>
		</a>
		
	</section>



	<footer class="footer">
		<a href="javascript:;" class="know">小知识</a>

		<div id="know-detail" style="display: none;">
			<ul>
				<li>贷款申请模式</li>
				<li id="alert-procedure">贷款申请流程</li>
			</ul>
			<ul>
				<li>查询贷款记录</li>
				<li>完善资料</li>
			</ul>
			<ul>
				<li id="alert-comment">如何进行贷款点评</li>
			</ul>
		</div>
	</footer>



    #parse('/widget/footer/footer.vm')
	##------------------------------------
    ## scripts
    ##------------------------------------
    __FRAMEWORK_CONFIG__
    <script>
    require(['page/wddx-plain-index/wddx-plain-index'], function(app) {
    	app();
    });
    </script>
</body>
</html>