
<% for ( var item, i=0, ilen= obj.rows.length;  i < ilen && (item = obj.rows[i]); i++ ) {
    
%>

<a class="form-item" href="javascript:;">
    
    <i class="icon principalreturn-icon"></i>
    
    <div class="description">
        <p class="item-label">
            
            <span class="fst-line">
                
                回收本息
                
            
                 <span class="num">¥11,000.00</span>
             </span>
            <br>
            <span class="sec-line">余额:¥73,417.91</span>
        </p>
        <p class="item-body">
            <span>2015-12-26</span><br>
            <span class="item-time">16:24:39</span>
        </p>
    </div>
</a>

<% } %>