<div id="filter-down-wrapper">
    <div class="arrow-up"></div>
    <div id="filter-down-menu">
        <section>
            <h3>Demo状态</h3>
            <div class="flex-box">
            <div class="filter-option active">全部<div class="icon"></div></div>
            <div class="filter-option">状态1<div class="icon"></div></div>
            <div class="filter-option">状态2<div class="icon"></div></div>
            </div>
            <div class="flex-box">
            <div class="filter-option">状态3<div class="icon"></div></div>
            <div class="filter-option">状态4<div class="icon"></div></div>
            </div>
        </section>
    </div>
</div>