@import "/static/scss/_rem";
@import "/static/scss/_variables";



@mixin button($backgroundColor: $bgApp58, $color: #fff) {
    display: block;
    width: 100%;
    height: rem(70px);
    line-height: rem(70px);
    font-size: rem(30px);
    border-radius: 3px;
    border: none;
    background-color: $backgroundColor;
    color: $color;
    text-align: center;
    
    &:active {
        background-color: $bgApp58;
    }
    &.disabled {
        background-color: #A5A5A5;
    }
}