@import "/static/scss/_rem";
@import "/static/scss/_mark";

.sl-loading {
    width: 100%;
    height: rem(160px);
    padding-top: rem(40px);
    background: url(/static/img/loading.gif) no-repeat #fff center rem(100px);
    background-size: rem(60px);
    text-align: center;
    color: #cacaca;
}



.sl-empty {
    color: #a6afb9;
    text-align: center;
    padding: rem(40px 0);
    font-size: rem(24px);
}




//----------
// 右箭头
//----------
/* @mixin list-item-mark($backgroundColor: #CCCCCC, $width: rem(14px), $rotate:60deg){
    
    display: block;
    position: relative;
    padding-right: rem(30px);
    
    &::after,
    &::before {
        content: "";
        position: absolute;
        display: inline-block;
        width: $width;
        height: 2px;
        background-color: $backgroundColor;
        top: 50%;
        right: rem(12px);
        margin-top: -1px;
    }
    
    &::after {
        -webkit-transform: rotate($rotate);
        -webkit-transform-origin: right 90%;
    }
    &::before {
        -webkit-transform: rotate(-$rotate);
        -webkit-transform-origin: right 10%;
    }
} */


@mixin list-item-mark($backgroundColor: #CCCCCC, $width: rem(14px), $rotate:60deg){
    
    @include mark-back();

    padding-right: rem(30px);
    
    &::after,
    &::before {
        width: $width;
        left: initial;
        right: rem(12px);
    }
    
    &::after {
        -webkit-transform: rotate($rotate);
    }
    &::before {
        -webkit-transform: rotate(-$rotate);
    } 
} 