.selectcity-modal {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: #fff;
}
.sc-contain {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.sc-top-banner {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: #fff;
	height: 42px;
	line-height: 42px;
	text-align: center;
	border-bottom: 0.8px solid #cfd6dc;
	font-size: 12px;
    color: #323232;
    font-weight: bold;
	.sc-top-back {
		display: block;
		position: absolute;
		top: 12px;
		left: 14px;
		width: 11px;
		height: 17px;
		background-image: url(../img/title-banner-arrow.png?__inline);
		background-repeat: no-repeat;
		background-size: contain;
	}
}
.sc-bottom-banner {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 10;
	width: 100%;
	height: 41px;
	line-height: 41px;
	background-color: rgba(0,0,0,0.6);
	display: -webkit-box;
	.sc-bottom-list {
		-webkit-box-flex: 1;
		padding-left: 12px;
		font-size: 13px;
		color: #fff;
	}
	.sc-city-name {
		padding-left: 8px;
		font-size: 18px;
		color: #fff;
	}
	.sc-city-keep {
		display: block;
		width: 109px;
		text-align: center;
		font-size: 15px;
		background-color: #1e8ce0;
		color: #fff;
	}
}
.sc-aside {
	position: fixed;
	top: 51px;
	right: 0;
	width: 26px;
	background-color: #f2f5f8;
	text-align: center;
	z-index: 10;
	.sc-aside-key, .sc-aside-top {
		color: #97aab2;
		display: block;
		font-size: 10px;
	}
	.sc-aside-key {
		padding: 1px 0;
	}
	.sc-aside-top {
		padding: 3px 0;
	}
}
.sc-city-list {
	margin-top: 42px;
	.sl-limit {
		position: relative;
		background-color: #fff;
		padding: 12px 13px;
		font-size: 12px;
		color: #404a51;
	}
	.sl-limit-selected {
		color: #0099ff;
		&:after {
			content: '';
			position: absolute;
			top: 15px;
			right: 55px;
			display: block;
			width: 30px;
			height: 15px;
			background-image: url(../img/icons/icon-check-mark1.png?__inline);
			background-repeat: no-repeat;
			background-size: contain;
			border: 0;
		}
	}
	.sl-key {
		background-color: #f2f5f8;
		padding: 2.5px 13px;
		font-size: 10px;
		color: #757c85;
	}
	.sl-item {
		position: relative;
		background-color: #fff;
		padding: 10px 13px;
		font-size: 12px;
		color: #404a51;
		&:after {
			content: '';
			position: absolute;
			top: 16px;
			right: 66px;
			display: block;
			width: 10px;
			height: 10px;
			border: 1px solid #dadada;
		}
	}
	.sl-item-selected {
		color: #0099ff;
		&:after {
			content: '';
			position: absolute;
			top: 16px;
			right: 66px;
			display: block;
			width: 14px;
			height: 14px;
			background-image: url(../img/icons/icon-check-mark.png?__inline);
			background-repeat: no-repeat;
			background-size: contain;
			border: 0;
		}
	}
	.sl-border {
		border-bottom: 0.8px solid #f2f5f8;
	}
	a {
		display: block;
	}
}











