/**
 * toggle button
 * 请勿给togglebutton设置padding
 * 需要调整top请使用togglebutton的margin
 * 或者调整togglebutton的父元素的padding
 * 
 * jiajianrong
 */ 
 @import "/static/scss/_rem";

@mixin togglebutton(){
        display:block;
        overflow:hidden;
        
        width:rem(140px);
        height: rem(48px);
        border-radius:rem(36px);
        
        background: #EEE;
        border:1px solid #EEE;
        
        &.toggle-off {
            background: #EEE;
            border:1px solid #EEE;
        }
        &.toggle-on {
            background: orange;
            border:1px solid orange;
        }
        
        span{
            display:block;
            
            width:rem(60px);
            height:rem(48px);
            line-height: rem(48px);
            border-radius:rem(36px);
            
            font-size:rem(28px);
            text-align:center;
            
            background-color:#fff;
        }
        
        &.toggle-off span {
            float:left;
            color:gray;
        }
        &.toggle-on span {
            float:right;
            color:orange;
        }
}