//@import "/static/scss/zepto.modal";
@import "/static/scss/_rem";

.wi-modal-dialog {
    margin: rem(90px) auto;
    width: rem(630px);
    height: auto;
    background-color: #fff;
    z-index: 99;
    font-size: rem(24px);

    .wi-modal-dialog-content {
        text-align: center;
        padding: rem(48px 30px);
        word-break:break-all;
        overflow: auto;
        color: #575b60;
        max-height: rem(744px);
    }
    
    
    .wi-dialog-box-single {
        text-align: center;
        border-top: 1px solid #f1f2f3;
        height: rem(90px);
        line-height: rem(90px);
        
        .wi-single-btn-true{
            display: inline-block;
            width: 100%;
            color: #ff6622;
        }
    }
    
    
    .wi-dialog-box-double {
        border-top: 1px solid #f1f2f3;
        height: rem(90px);
        line-height: rem(90px);
        font-size: rem(24px);
        
        .wi-double-btn-cancle {
            display: inline-block;
            float: left;
            width: 50%;
            text-align: center;
            color: #ff6622;
        }
    
        .wi-double-btn-true { 
            float: left;
            text-align: center;
            width: 49%;
            border-left: 1px solid #f1f2f3;
            color: #ff6622;
        }
    }
}




