@import "/static/scss/_button";
@import "/static/scss/zepto.info";
@import "/static/scss/zepto.togglebutton";


.flex-box {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    box-orient: horizontal;
    padding: 5px 10px 5px;
}

.col-1 {
    -webkit-box-flex: 1;
    box-flex: 1;
    position: relative;
    &:after {
        position: absolute;
        display: block;
        content: "";
        border: 1px solid #ccc;
        width: 100%;
        left: 0;
        top: 22px;
    }
}

// 进度条 (目前只支持两种状态， step1 & step2)
@mixin progressBar($height:20px,$fontSize: 12px) {
    $progress-data: (step1, #ff662c, #ccc, #ccc), (step2, #ff662c, #ff662c, #ccc);
    @each $step, $color1, $color2, $color3 in $progress-data {
        .progress-bar-#{$step} {
            color: #ffffff;
            font-size: $fontSize;
            font-weight: bold;

            .col-1 {
                background: $color2;
                height: $height;
                line-height:$height;
                padding-left: 5px;
                &:first-child {
                    border-radius: $height/2 0px 0px $height/2;
                    background: $color1;
                }
                &:last-child {
                    border-radius: 0px $height/2 $height/2 0px;
                    background: $color3;
                }
            }
            .arrow-left-top-2 {
                width: 0;
                height: 0;
                border-top: 0px solid transparent;
                border-bottom: $height/2 solid transparent;
                border-right: $height/2 solid $color2;
            }
            .arrow-left-bottom-2 {
                width: 0;
                height: 0;
                border-top: $height/2 solid transparent;
                border-bottom: 0px solid transparent;
                border-right: $height/2 solid $color2;
            }
            .arrow-right-1 {
                width: 0;
                height: 0;
                border-top: $height/2 solid transparent;
                border-bottom: $height/2 solid transparent;
                border-left: $height/2 solid $color1;
            }
            .arrow-left-top-3 {
                width: 0;
                height: 0;
                border-top: 0px solid transparent;
                border-bottom: $height/2 solid transparent;
                border-right: $height/2 solid $color3;
            }
            .arrow-left-bottom-3 {
                width: 0;
                height: 0;
                border-top: $height/2 solid transparent;
                border-bottom: 0px solid transparent;
                border-right: $height/2 solid $color3;
            }
            .arrow-right-2 {
                width: 0;
                height: 0;
                border-top: $height/2 solid transparent;
                border-bottom: $height/2 solid transparent;
                border-left: $height/2 solid $color2;
            }
        }
    }

}

@include progressBar(20px);


//icon-checkbox  CSS实现
@mixin icon-checkbox($border-color: #fff) {
    position: absolute;
    content: "";
    width: 8px;
    height: 4px;
    top: 5px;
    left: 4px;
    transform: rotate(-45deg);
    border-left: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
}



.loan-application {
    background: #ffffff;
    font-size: 16px;

    .loan-item {
        padding: 18px 10px;
        div:first-child {
            margin-right:20px;
        }
        input {
            width: 100%;
            padding-bottom: 3px;
            display: block;
            border-color: #cccccc;
            -webkit-appearance: none;
            border-width: 0px;
            border-radius: 0px;
            &:focus {
                border-width: 0px;
                border-bottom: 1px solid #cccccc;
            }
        }
    }
    .divider {
        width: 100%;
        height: 10px;
        background: #f0f0f2;
        border: 1px solid #ccc;
        border-width: 1px 0px;
    }
    .divider2 {
        width: 100%;
        height: 30px;
        background: #f0f0f2;
        border: 1px solid #ccc;
        border-width: 1px 0px;
        line-height: 20px;
        padding-top: 20px;
        padding-left: 10px;
    }
    .remark {
        padding: 0px 10px;
        textarea {
            margin: 16px 0;
            -webkit-appearance: none;
            border: 1px solid #cccccc;
        }
    }
    .actions {
        padding: 0px 10px;
        .btn-next-step {
            @include button;
            margin: 16px 0;
        }
    }
    section {
        padding: 0px 10px;
    }

    .fm-checkbox {
        position: relative;
        margin-right: 25px;
        z-index: 1;
        input {
            position: absolute;
            top: 0px;
            width: 100%;
            height: 100%;
            opacity: 0;
            outline: none;
            z-index: 2;
        }
        input:checked + .fm-icon-checkbox {
            border-color: #ccc;
            background-color: #008ef2;
        }
        input:checked + .fm-icon-checkbox + .fm-content {
            color: #008ef2;
        }
        .fm-icon-checkbox {
            display: inline-block;
            position: relative;
            width: 16px;
            height: 16px;
            border: 1px solid #ccc;
            border-radius: 50%;
        }
        .fm-icon-checkbox:after {
            @include icon-checkbox;
        }
        .fm-content {
            position: relative;
            top: -2px;
            left: 3px;
        }
    }

    .fm-list-checkbox {
        .fm-checkbox {
            width: 95%;
            padding: 10px 0;
            border: 1px dotted #333;
        }
        .fm-content-left {
            margin-right: 260px;
        }
    }
}




.toggle-btn{
    @include togglebutton;
}
