<!DOCTYPE html>
<html>
<head>
    #set($title = "放款申请")
    #parse('/widget/header/header.vm')
    <link rel="stylesheet" href="./page-form.scss">
</head>
#* /////////////////////// Maps Start ///////////////////// *#
#set($firstPayRatioMap = {
    "0": "0%",
    "50": "50%"
})
#set($cycleMap = {
    "12": "12个月",
    "24": "24个月",
    "36": "36个月"
})
#set($contractTypeMap = {
    "1": "类型1",
    "2": "类型2",
    "3": "类型3",
    "4": "类型4"
})
#set($dealerBankMap = {
    "0105":"测试测试",
    "0104":"测试测试",
    "0302":"测试测试",
    "0305":"测试测试",
    "0303":"测试测试",
    "0318":"测试测试",
    "0308":"测试测试",
    "0103":"测试测试",
    "0102":"测试测试"
})
#set($repayBankMap = {
    "0105":"测试测试",
    "0104":"测试测试",
    "0302":"测试测试",
    "0305":"测试测试",
    "0303":"测试测试",
    "0318":"测试测试",
    "0308":"测试测试",
    "0103":"测试测试",
    "0102":"测试测试"
})
#macro( ModuleMap $whatMap $selectedVal)
    #foreach( $key in $whatMap.keySet())
        <option value="$!{key}" #if($key == $selectedVal)selected#end>$!{whatMap.get($key)}</option>
    #end
#end

#* /////////////////////// Maps End /////////////////////// *#

<body>
    #set($title = "放款申请")
    #set($backHref = "/market/customer/detail?userId=$!{userId}")



    <form id="form" action="/market/customer/loan/apply2">
    <div class="loan-application">
        <input type="hidden" id = "userId" value = $!{userId} name = "userId"  />
        <input type="hidden" class="editFlag" data-value='$!{editFlag}' />

        <div class="loan-item flex-box">
            <div>类型1</div>
            <select id="contractType" name="contractType" data-trace="1">
                #ModuleMap( $contractTypeMap $contractType )
            </select>
        </div>
        <div class="loan-item flex-box">
            <div>类型(元)</div>
            <div class="col-1">
                <input type="number" value="$!{financeAmount}" name="financeAmount" data-trace="2" />
            </div>
        </div>
        <div class="loan-item flex-box">
            <div>类型(%)</div>
            <div class="col-1">
                <input type="number" value="$!{firstPayRatio}" name="firstPayRatio" data-trace="3" />
            </div>
        </div>
        <div class="loan-item flex-box">
            <div>类型</div>
            ##0有1无
            #if($mortgage=="0")
            <div class="toggle-btn toggle-on">
                <span data-alternative="off" data-trace="4" style="cursor: pointer;">on</span>
                <input type="hidden" name="mortgage" value="0" data-alternative="1" />
            </div>
            #else
            <div class="toggle-btn toggle-off" data-trace="4" style="cursor: pointer;">
                <span data-alternative="on">off</span>
                <input type="hidden" name="mortgage" value="1" data-alternative="0" />
            </div>
            #end
        </div>
        <div class="loan-item flex-box">
            <div>类型(非必填)</div>
            <div class="col-1">
                <input class="region-related" type="text" value="$!{indicator}" name="indicator" data-trace="5" />
            </div>
        </div>
        

        <div class="divider"></div>


        <div class="loan-item flex-box">
            <div>类型(元)</div>
            <div class="col-1">
                <input type="number" value="$!{carDealPrice}" name="carDealPrice" data-trace="6" />
            </div>
        </div>
        <div class="loan-item flex-box">
            <div>类型</div>
            <div class="col-1">
                <input type="text" value="$!{models}" name="models" data-trace="6" />
            </div>
        </div>
        <div class="loan-item flex-box">
            <div>类型</div>
            <div class="col-1">
                
            </div>
            <input class="col-1" type="text" value="$!{frameNo}" name="frameNo" 
                data-validate='{"errmsg":"必须为数字或字母","regexp":"^\\w+$"}' data-trace="7" />
        </div>
        <div class="loan-item flex-box">
            <div>类型</div>
            <div class="col-1">
                <input type="text"  value="$!{brand}" name="brand" data-trace="8" />
            </div>
        </div>
        <div class="loan-item flex-box">
            <div>类型(非必填)</div>
            <div class="col-1">                
                <input type="text" id="cardNo" value="$!{cardNo}" name="cardNo" data-trace="9" />
            </div>
        </div>
        <div class="loan-item flex-box">
            <div>类型</div>
            <div class="col-1">  
                <input type="text" value="$!{color}" name="color" data-trace="10" /> 
            </div>
        </div>
        <div class="loan-item flex-box">
            <div>类型</div>
            <div class="col-1">
                <input class="col-1" type="text" value="$!{firstCardDate}" name="firstCardDate" data-trace="11" />
            </div>
        </div>
        
        
        <div class="divider"></div>
        
        
        <div class="loan-item flex-box">
            <div>类型</div>
            <div class="col-1">
                <input type="text" value="$!{dealerName}" name="dealerName" data-trace="12" />
            </div> 
        </div>
        <div class="loan-item flex-box">
            <div>类型</div>
            <div class="col-1">
                <input type="text" value="$!{idCard}" name="idCard" id="idCard" data-trace="13" />
            </div>
        </div>
        <div class="loan-item flex-box">
            <div>类型</div>
            <div class="col-1">
                <input type="number" value="$!{dealerBankCardNo}" name="dealerBankCardNo" data-trace="14" />
            </div>
        </div>
        <div class="loan-item flex-box">
            <div>类型</div>
            <select name="dealerOpenBank" data-value="$!{dealerOpenBank}" placeholder="类型" class="sel-combobox" data-trace="15">
                <option value="-1">请选择</option>
                #ModuleMap( $dealerBankMap $dealerOpenBank )
            </select>
        </div>
        <div class="loan-item flex-box">
            <div>类型</div>
            <div class="col-1">
                <input type="text" name="dealerOpenPartBank" value="$!{dealerOpenPartBank}" data-trace="16" />                
            </div>
        </div>
        <div class="loan-item flex-box">
            <div>类型</div>
            <div class="col-1">
                <input type="text" name="dealerOpenBranchBank" value="$!{dealerOpenBranchBank}" data-trace="17" />
            </div>
        </div>
        <div class="loan-item flex-box">
            <div>邮箱(非必填)</div>
            <div class="col-1">
                <input class="col-1" type="text" name="mail" value="$!{mail}" data-trace="18" />                
            </div>
        </div>

        
        <div class="divider"></div>
        
        
        <div class="loan-item flex-box">
            <div>类型</div>
            <div class="col-1">
                <input type="text"  value="$!{repayAccount}" name="repayAccount" data-trace="19" />
            </div>
        </div>
        <div class="loan-item flex-box">
            <div>类型</div>
            <div class="col-1">
                <input type="text"  value="$!{repayIdCardNo}" name="repayIdCardNo" data-trace="20" />
            </div>
        </div>
        <div class="loan-item flex-box">
            <div>类型</div>
            <div class="col-1">
                <input type="number" value="$!{repayBankCardNo}" name="repayBankCardNo" data-trace="21" />            
            </div>
        </div>
        <div class="loan-item flex-box">
            <div>类型</div>
            <select name="repayOpenBank" data-value="$!{repayOpenBank}" placeholder="类型" class="sel-combobox" data-trace="22">
                <option value="-1">请选择</option>
                #ModuleMap( $repayBankMap $repayOpenBank )
            </select>
        </div>
        <div class="loan-item flex-box">
            <div>类型(非必填)</div>
            <div class="col-1">
                <input type="number" name="reservedPhone" value="$!{reservedPhone}" data-trace="23"/>   
            </div>
        </div>


        <div class="divider"></div>
        

        <div class="loan-item flex-box">
            <div>类型</div>
            <div class="fm-checkbox" data-trace="24" style="cursor: pointer;">
                <input type="radio" name="sex" value="1">
                <span class="fm-icon-checkbox"></span>
                <span class="fm-content">男生</span>
            </div>
            <div class="fm-checkbox" data-trace="24" style="cursor: pointer;">
                <input type="radio" name="sex" value="2">
                <span class="fm-icon-checkbox"></span>
                <span class="fm-content">女生</span>
            </div>
        </div>


        <div class="divider"></div>

        <div class="fm-list-checkbox">
            <div class="loan-item flex-box">
                <div class="fm-checkbox" data-trace="25" style="cursor: pointer;">
                    <span class="fm-content-left">类型</span>
                    <input type="radio" name="age" value="1">
                    <span class="fm-icon-checkbox"></span>
                    <span class="fm-content">20</span>
                </div>
            </div>

            <div class="loan-item flex-box" data-trace="25" style="cursor: pointer;">
                <div class="fm-checkbox">
                    <span class="fm-content-left">类型</span>
                    <input type="radio" name="age" value="2">
                    <span class="fm-icon-checkbox"></span>
                    <span class="fm-content">30</span>
                </div>
            </div>

            <div class="loan-item flex-box" data-trace="25" style="cursor: pointer;">
                <div class="fm-checkbox">
                    <span class="fm-content-left">类型</span>
                    <input type="radio" name="age" value="3">
                    <span class="fm-icon-checkbox"></span>
                    <span class="fm-content">50</span>
                </div>
            </div>
        </div>      
        

        <section class="actions">
            <button type="button" class="btn-next-step" data-trace="26">下一步</button>
        </section>

        
    </div>
    </form>




    ##------------------------------------
    ## scripts
    ##------------------------------------
    __FRAMEWORK_CONFIG__
    <script>
    require(['page/page-form/page-form'],function(app){
        app();
    });
    </script>
</body>
</html>

